@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

$primary-500: #003e2c;
$secondary-500: #fff000;
$third-500: #ee7300;
$transition-common: 0.3s;
$font-serif: "Noto Serif TC", sans-serif;
$font-sans: "Noto Sans TC", sans-serif;
$font-stix: "STIX Two Text", serif;
$text: #231815;

$kv-padding-top: 15.66vw;
$kv-padding-bottom: 10.96vw;
$kv-padding-top-mobile: 36.67vw;
$kv-padding-bottom-mobile: 35.28vw;
$kv-logo-width: 515px;
$kv-logo-width-mobile: 61.5vw;

body {
  font-family: $font-sans;
  color: $text;
  background-image: url(../img/bg.webp);
  background-position: 0 0;
  background-size: 100%;
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $primary-500;
  }
}

main {
  overflow: hidden;
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
}

.modal {
  &-dialog {
    margin-top: 100px;
  }
  &-content {
    border: 0;
  }
  &-body {
    padding: 0;
  }
}

.title {
  &-ch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      padding: 0 40px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $primary-500;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
      h2 {
        font-size: 70px;
        margin: 0;
        font-weight: 700;
        letter-spacing: 0.1em;
        font-family: $font-serif;
        color: $primary-500;
        .highlight {
          color: $primary-500;
        }
      }
    }
    &.color-white {
      li {
        h2 {
          color: #fff;
          .highlight {
            color: $secondary-500;
          }
        }
        &::after {
          background-color: #fff;
        }
      }
    }
  }
  &-en {
    color: $primary-500;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin: 0;
    font-family: $font-stix;
    text-align: center;
    &.color-white {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &-wrap {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    &_deco {
      position: absolute;
      width: 125px;
      top: -24px;
      left: -62px;
    }
  }
  @media screen and (max-width: 1100px) {
    &-ch {
      li {
        padding: 0 12px;
        h2 {
          font-size: 22px;
        }
        &::after {
          width: 5px;
          height: 5px;
        }
      }
    }
    &-en {
      font-size: 18px;
    }
    &-wrap {
      &_deco {
        width: 48px;
        top: -10px;
        left: -16px;
      }
    }
  }
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  li {
    padding: 0 14px;
    position: relative;
    font-size: 36px;
    font-family: $font-serif;
    letter-spacing: 0.2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $primary-500;
    > span {
      display: block;
      padding: 0 10px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 50%;
        right: 2px;
        transform: translate(0, -50%);
        background-color: $primary-500;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
    .highlight {
      color: $third-500;
    }
    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 17px;
      background-color: $third-500;
      top: 55%;
      right: 3px;
      transform: translate(0, -50%);
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &.color-white {
    li {
      color: #fff;
      &::after {
        background-color: $secondary-500;
      }
      > span {
        &::after {
          background-color: $secondary-500;
        }
      }
      .highlight {
        color: $secondary-500;
      }
    }
  }
  @media screen and (max-width: 1100px) {
    li {
      font-size: 13px;
      padding: 0 7px;
      &::after {
        height: 8px;
        right: 0;
      }
      > span {
        padding: 0 5px;
        &::after {
          width: 2px;
          height: 2px;
          right: 0;
        }
      }
    }
  }
}

.remark {
  position: absolute;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  margin: 0;
  &.left-top {
    left: 22px;
    top: 12px;
  }
  &.left-bottom {
    left: 22px;
    bottom: 12px;
  }
  &.right-top {
    right: 22px;
    top: 12px;
  }
  &.right-bottom {
    right: 22px;
    bottom: 12px;
  }
  @media screen and (max-width: 1300px) {
    font-size: 9px;
    &.left-top {
      left: 5px;
      top: 3px;
    }
    &.left-bottom {
      left: 5px;
      bottom: 13px;
    }
    &.right-top {
      right: 5px;
      top: 3px;
    }
    &.right-bottom {
      right: 5px;
      bottom: 3px;
    }
  }
}

.decoration {
  position: absolute;
  z-index: 10;
}

.swiper {
  &-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 80px;
    background-color: #b3b3b3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    transition: $transition-common;
    &:not(.swiper-button-disabled) {
      cursor: pointer;
      &:hover {
        background-color: $third-500;
      }
    }
    img {
      width: 22px;
    }
    &.swiper {
      &-next {
        right: 0;
      }
      &-prev {
        left: 0;
      }
    }
  }
  &-pagination {
    &-bullets {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    &-bullet {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid $primary-500;
      margin: 0 !important;
      opacity: 1;
      &-active {
        background-color: $primary-500;
      }
    }
  }
  &-button {
    &-disabled {
      opacity: 0.5;
    }
  }
  @media screen and (max-width: 991px) {
    &-arrow {
      width: 16px;
      height: 29px;
      img {
        width: 8px;
      }
    }
    &-pagination {
      &-bullets {
        gap: 4px;
      }
      &-bullet {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.header {
  padding: 10px 15px;
  background-color: $primary-500;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  li {
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
    transition: $transition-common;
    letter-spacing: 0.2em;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #fff;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.kv {
  padding-top: $kv-padding-top;
  padding-bottom: $kv-padding-bottom;
  position: relative;
  z-index: 0;
  background-image: url(../img/kv-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &_logo {
    display: block;
    width: $kv-logo-width;
    margin: 0 auto 2.4vw;
  }
  &_h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #fff;
    width: fit-content;
    margin: 0 auto;
    li {
      padding: 0 30px;
      position: relative;
      h2 {
        color: #fff;
        margin: 0;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 82px;
        .highlight {
          color: $secondary-500;
        }
        .bigger {
          font-size: 120px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $secondary-500;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        border-radius: 50%;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  &_h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
    &_inner {
      display: flex;
      align-items: center;
    }
    li {
      padding: 0 13px;
      position: relative;
      h3 {
        color: #fff;
        margin: 0;
        letter-spacing: 0.1em;
        font-weight: 900;
        font-size: 37px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        .highlight {
          color: $secondary-500;
        }
        .num {
          font-size: 44px;
          font-family: $font-serif;
        }
        .smaller {
          font-size: 26px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 29px;
        background-color: #fff;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: $kv-padding-top-mobile;
    padding-bottom: $kv-padding-bottom-mobile;
    &_logo {
      width: $kv-logo-width-mobile;
      margin-bottom: 18.33vw;
    }
    &_h2 {
      display: block;
      padding-bottom: 12px;
      border-bottom: 0;
      li {
        padding: 0;
        position: relative;
        h2 {
          font-size: 52px;
          .bigger {
            font-size: 74px;
          }
          &.line-2 {
            letter-spacing: 0.35em;
          }
        }
        &::after {
          display: none;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
    &_h3 {
      padding-top: 12px;
      border-top: 1px solid #fff;
      display: block;
      > li {
        padding: 0;
      }
      li {
        h3 {
          font-size: 29px;
          .highlight {
            font-size: 32px;
            span {
              transform: translate(1px, -1px);
            }
            &-smaller {
              font-size: 21px;
            }
          }
          .smaller {
            font-size: 16px;
          }
        }
        &::after {
          display: none;
        }
      }
      &_inner {
        justify-content: center;
        li {
          padding: 0 8px;
          &::after {
            height: 18px;
            width: 1px;
            display: block;
          }
          &:last-child {
            padding-right: 0;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.map {
  position: relative;
  &_pic {
    width: 100%;
    position: relative;
    &_inner {
      width: 100%;
      > img {
        width: 100%;
      }
    }
  }
  &_text {
    position: absolute;
    width: fit-content;
    top: 6vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 80px;
    &_wrapper {
      position: relative;
    }
    ul {
      flex-wrap: nowrap;
      margin-bottom: 24px;
      position: relative;
      li {
        h2 {
          white-space: nowrap;
        }
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 48px;
        background-color: #fff;
        top: 39px;
      }
      &::before {
        left: -80px;
      }
      &::after {
        right: -80px;
      }
    }
    h3 {
      text-align: center;
      position: relative;
      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 168px;
        background-color: #fff;
        top: 23px;
      }
      &::before {
        left: -80px;
      }
      &::after {
        right: -80px;
      }
    }
    &_deco {
      position: absolute;
      width: 113px;
      z-index: -1;
      left: 114px;
      top: -14px;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 92px;
      width: 1px;
      background-color: #fff;
      top: 40px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &_scroll {
    width: 40vw;
    margin: 30px auto 0;
  }
  @media screen and (max-width: 1230px) {
    &_text {
      top: 3.5vw;
    }
  }
  @media screen and (max-width: 767px) {
    &_pic {
      overflow-x: auto;
      &_inner {
        width: 950px;
      }
    }
    &_text {
      top: 12vw;
      padding: 0 16px;
      &::before,
      &::after {
        height: 37px;
        top: 13px;
      }
      &::before {
        left: 10px;
      }
      &::after {
        right: 10px;
      }
      ul {
        margin-bottom: 14px;
        &::before,
        &::after {
          width: 10px;
          top: 13px;
        }
        &::before {
          left: -5px;
        }
        &::after {
          right: -5px;
        }
      }
      .title {
        &-ch {
          li {
            padding: 0 12px;
          }
        }
        &-en {
          font-size: 18px;
          &::before,
          &::after {
            width: 49px;
            top: 8px;
          }
          &::before {
            left: -5px;
          }
          &::after {
            right: -5px;
          }
        }
      }
      &_deco {
        width: 38px;
        left: 48px;
        top: -6px;
      }
    }
  }
}

.pic-column {
  padding-top: 104px;
  padding-bottom: 104px;
  position: relative;
  &_title {
    width: fit-content;
    margin: 0 auto 20px;
    .title-en {
      margin-top: 16px;
    }
  }
  &_pic {
    position: relative;
    margin-top: 44px;
    > img {
      &:not(.pic-column_pic_text) {
        width: 100%;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      top: 20px;
      left: 20px;
    }
    &_text {
      position: absolute;
      width: 40.38%;
      bottom: 2.45%;
      left: 11.78%;
    }
    &_slogan {
      position: absolute;
      color: #fff;
      font-family: "STIX Two Text", "noto serif TC", serif;
      width: fit-content;
      padding: 0 44px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      bottom: 16.09%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 44px;
      font-weight: 700;
      letter-spacing: 0.1em;
      .smaller {
        font-size: 40px;
        letter-spacing: 0.14em;
      }
    }
  }
  &_slogan {
    width: 45.85%;
    margin: 25px auto 0;
  }
  @media screen and (max-width: 1300px) {
    &_title {
      .title-line {
        width: 110px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 90px;
    padding-bottom: 52px;
    &_title {
      margin-bottom: 0;
      .title {
        &-en {
          padding-right: 0;
          margin-bottom: 44px;
          font-size: 12px;
        }
        &-ch {
          margin-bottom: 8px;
        }
      }
    }
    &_pic {
      margin-top: 30px;
      &::before {
        border-width: 1px;
        top: 6px;
        left: 6px;
      }
    }
  }
}

.bg-pic {
  position: relative;
  &_bg {
    width: 100%;
  }
  &_text {
    position: absolute;
    text-align: center;
    top: 4.55vw;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 80px;
    &_wrapper {
      position: relative;
    }
    .title-ch {
      margin-bottom: 15px;
      position: relative;
      width: fit-content;
      margin: 0 auto 15px;
      h2 {
        white-space: nowrap;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 48px;
        background-color: #fff;
        top: 39px;
      }
      &::before {
        left: -80px;
      }
      &::after {
        right: -80px;
      }
    }
    .subtitle {
      position: relative;
      li {
        white-space: nowrap;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 168px;
        background-color: #fff;
        top: 23px;
      }
      &::before {
        left: -80px;
      }
      &::after {
        right: -80px;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 83px;
      width: 1px;
      background-color: #fff;
      top: 40px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &_text {
      top: 20vw;
      .title {
        &-ch {
          margin-bottom: 4px;
          &::before,
          &::after {
            display: none;
          }
        }
      }
      .subtitle {
        &::before,
        &::after {
          width: 21px;
          top: 10px;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.ideal {
  position: relative;
  @media screen and (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 0;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .pic-column {
      &_pic {
        &::before {
          display: none;
        }
        &_slogan {
          padding-left: 8px;
          padding-right: 9px;
          font-size: 14px;
          bottom: 10vw;
          .smaller {
            font-size: 13px;
          }
        }
      }
    }
    .title-ch {
      li {
        h2 {
          text-align: center;
        }
      }
    }
    .title-en {
      margin-top: 8px;
      margin-bottom: 44px;
    }
    .title-wrap_deco {
      left: 26px;
    }
  }
}

.children {
  position: relative;
  .subtitle {
    margin-top: 15px;
  }
  @media screen and (max-width: 991px) {
    padding-top: 170px;
    padding-bottom: 70px;
    .title-ch {
      text-align: center;
      justify-content: center;
    }
    .subtitle {
      margin-top: 8px;
    }
    .pic-column_pic {
      margin-top: 56px;
    }
    .title-wrap_deco {
      left: 52px;
    }
  }
}

.slider {
  &_inner {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: calc(100% - 54px);
      border: 2px solid #fff;
      top: 20px;
      left: 20px;
      z-index: 10;
    }
  }
  &_wrapper {
    position: relative;
  }
  &_swiper {
    padding-bottom: 54px;
    &_item {
      position: relative;
      width: 100%;
      padding-bottom: 56.28%;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
  }
  @media screen and (max-width: 991px) {
    &_inner {
      &::before {
        display: none;
      }
    }
    &_swiper {
      padding-bottom: 20px;
      &_item {
        padding-bottom: 131.31%;
      }
    }
    .swiper-pagination {
      justify-content: center;
    }
  }
}

.garden {
  position: relative;
  @media screen and (max-width: 991px) {
    padding-top: 57px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .title-ch {
      text-align: center;
      margin-bottom: 16px;
    }
    .subtitle {
      margin-bottom: 20px;
    }
    .title-wrap_deco {
      left: 28px;
    }
  }
}

.upgrade {
  position: relative;
  &_text {
    position: absolute;
    padding: 48px 44px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 20px;
    top: 6.05vw;
    left: 20.84vw;
    .title-ch {
      flex-direction: column;
      .highlight {
        color: $third-500;
      }
      h2 {
        writing-mode: vertical-lr;
        font-size: 62px;
      }
      li {
        padding: 48px 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        &::after {
          top: inherit;
          left: 50%;
          bottom: 0;
          right: inherit;
          transform: translate(-50%, 50%);
        }
      }
    }
    &_subtitle {
      display: flex;
      flex-direction: column;
      > li {
        padding: 16px 0;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 28px;
          height: 3px;
          background-color: $third-500;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
          &::after {
            display: none;
          }
        }
        > ul {
          display: flex;
          // flex-direction: column;
          > li {
            padding: 24px 0;
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: $third-500;
              left: 50%;
              bottom: 0;
              transform: translate(-50%, 50%);
            }
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
      li {
        writing-mode: vertical-lr;
        font-size: 32px;
        font-weight: 700;
        color: $primary-500;
        font-family: $font-serif;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &_text {
      padding: 22px 20px;
      gap: 5px;
      top: 9.17vw;
      left: 14.72vw;
      .title-ch {
        h2 {
          font-size: 26px;
          letter-spacing: 0.37em;
        }
        li {
          padding: 12px 0 0;
        }
      }
      &_subtitle {
        > li {
          padding: 8px 0;
          &::after {
            width: 13px;
            height: 1px;
          }
          > ul {
            > li {
              padding: 8px 0;
              &::after {
                width: 3px;
                height: 3px;
              }
            }
          }
        }
        li {
          font-size: 15px;
        }
      }
    }
  }
}

.arrange {
  padding-top: 96px;
  padding-bottom: 84px;
  position: relative;
  .container {
    max-width: 1200px;
  }
  .swiper-pagination {
    position: static;
    margin-top: 44px;
  }
  .swiper-slide {
    position: relative;
  }
  &_item {
    height: 100%;
    &_main {
      display: flex;
      &.A3 {
        .arrange-floor {
          width: 25%;
          &:not(:first-child) {
            padding-top: 70px;
          }
        }
      }
      &.A6 {
        .arrange-floor {
          padding-top: 160px;
          &:first-child {
            width: 25%;
            p {
              margin-top: 116px;
            }
          }
          &:not(:first-child) {
            width: calc(75% / 4);
          }
        }
      }
      &.A7 {
        .arrange-floor {
          padding-top: 160px;
          &:first-child {
            width: 25%;
            p {
              margin-top: 152px;
            }
          }
          &:not(:first-child) {
            width: calc(75% / 4);
            p {
              margin-top: 92px;
            }
          }
        }
      }
      &.A9 {
        .arrange-floor {
          padding-top: 160px;
          width: 20%;
          p {
            margin-top: 105px;
          }
        }
      }
    }
    .compass {
      width: 70px;
      display: block;
      margin: 0 0 30px auto;
    }
  }
  &-floor {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    img {
      width: 100%;
    }
    p {
      width: fit-content;
      margin: 30px auto 0;
      padding: 8px 20px;
      background-color: $primary-500;
      color: #fff;
      border-radius: 100px;
      font-size: 33px;
      line-height: 1;
    }
  }
  &_content {
    margin-top: 75px;
    position: relative;
    .swiper {
      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &-pagination {
        width: 100%;
        justify-content: center;
      }
    }
    .arrange_compass {
      position: absolute;
      width: 58px;
      top: 0;
      left: calc(100% + 80px);
    }
  }
  &-remark {
    position: absolute;
    font-size: 16px;
    margin: 0;
    line-height: 1.6;
    bottom: 0;
    left: 0;
  }
  &_pic {
    width: 100%;
    margin-bottom: 50px;
  }
  &_info {
    margin-left: auto;
    width: fit-content;
  }
  &_text {
    &_title {
      display: flex;
      align-items: center;
      h4 {
        padding-left: 20px;
        font-size: 35px;
        margin: 0;
        font-weight: normal;
        color: $primary-500;
      }
    }
    &_content {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: $third-500;
      border-radius: 22px;
      width: fit-content;
    }
  }
  &_num {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 20px;
    position: relative;
    .num {
      margin: 0;
      font-size: 70px;
      font-weight: 700;
      color: $third-500;
      font-family: $font-serif;
      font-weight: 900;
    }
    .unit {
      margin: 0;
      font-size: 43px;
      font-weight: 200;
      color: $third-500;
    }
    &::after {
      position: absolute;
      content: "";
      width: 3px;
      height: 24px;
      background-color: $primary-500;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  &_floor {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    padding: 10px 30px;
    background-color: $primary-500;
    color: #fff;
    border-radius: 22px;
    line-height: 1;
  }
  &_remark {
    font-size: 24px;
    margin: 0;
    color: #fff;
    padding-left: 22px;
    padding-right: 40px;
  }
  @media screen and (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 28px;
    &_remark {
      font-size: 12px;
      padding-left: 0;
      padding-right: 12px;
    }
    &_content {
      margin-top: 0;
      .swiper {
        &-pagination {
          width: fit-content;
          margin: 12px auto;
        }
        &-arrow {
          position: static;
          transform: none;
        }
      }
    }
    &_swiper {
      .swiper-slide {
        padding: 0 40px;
        height: auto;
      }
    }
    &-floor {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 8px;
      padding-top: 16px;
      p {
        font-size: 11px;
        padding: 2px 8px;
        margin-top: 0 !important;
      }
    }
    &_item {
      &_main {
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        align-items: center;
        align-content: center;
        gap: 0;
        &.A3 {
          .arrange-floor {
            width: 50%;
            padding-top: 0 !important;
            &:first-child {
              order: 3;
            }
            &:nth-child(2) {
              order: 4;
              padding-top: 36px !important;
            }
            &:nth-child(3) {
              order: 1;
            }
            &:nth-child(4) {
              order: 2;
            }
          }
        }
        &.A6 {
          .arrange-floor {
            &:first-child {
              width: 50%;
              order: 4;
              padding-top: 32px;
            }
            &:not(:first-child) {
              width: 33.33%;
            }
            &:nth-child(2) {
              order: 5;
              padding-top: 32px;
            }
            &:nth-child(3) {
              order: 1;
              padding-top: 0;
            }
            &:nth-child(4) {
              order: 2;
              padding-top: 0;
            }
            &:nth-child(5) {
              order: 3;
              padding-top: 0;
            }
          }
        }
        &.A7 {
          .arrange-floor {
            padding-top: 160px;
            &:first-child {
              width: 50%;
              padding-top: 36px;
              order: 4;
              p {
                margin-top: 16px !important;
              }
            }
            &:not(:first-child) {
              width: 33.33%;
              p {
                margin-top: 16px !important;
              }
            }
            &:nth-child(2) {
              padding-top: 36px;
              order: 5;
            }
            &:nth-child(3) {
              order: 1;
              padding-top: 0;
            }
            &:nth-child(4) {
              order: 2;
              padding-top: 0;
            }
            &:nth-child(5) {
              order: 3;
              padding-top: 0;
            }
          }
        }
        &.A9 {
          .arrange-floor {
            width: 33.33%;
            p {
              margin-top: 12px !important;
            }
            &:first-child {
              order: 4;
              padding-top: 48px;
            }
            &:nth-child(2) {
              order: 5;
              padding-top: 48px;
            }
            &:nth-child(3) {
              order: 1;
              padding-top: 0;
            }
            &:nth-child(4) {
              order: 2;
              padding-top: 0;
            }
            &:nth-child(5) {
              order: 3;
              padding-top: 0;
            }
          }
        }
      }
      .compass {
        width: 28px;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &-remark {
      position: static;
      font-size: 8px;
      width: fit-content;
      margin: 0 auto;
    }
    &_func {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
    &_arrows {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &_info {
      padding-bottom: 28px;
      margin: 0 auto;
    }
    &_text {
      &_title {
        padding-bottom: 0;
        h4 {
          font-size: 15px;
        }
      }
      &_content {
        width: fit-content;
        gap: 4px;
      }
    }
    &_num {
      gap: 4px;
      padding-right: 8px;
      .num {
        font-size: 29px;
      }
      .unit {
        font-size: 18px;
      }
      &::after {
        width: 2px;
        height: 11px;
      }
    }
    &_floor {
      font-size: 15px;
      padding: 4px 16px;
      font-weight: normal;
    }
  }
}

.arrange-popup {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-content {
    background-color: transparent;
    border: 0;
  }
  &_main {
    width: 100%;
    > img {
      width: 100%;
      display: block;
      margin: 0 auto 20px;
    }
    > p {
      text-align: center;
      font-weight: 700;
      color: #fff;
    }
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}

.contact {
  padding-bottom: 240px;
  padding-top: 240px;
  position: relative;
  .container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
  }
  &_title {
    position: relative;
    width: fit-content;
    margin: 0 auto 70px;
    h2 {
      font-size: 57px;
      font-weight: 500;
      color: $primary-500;
      font-family: $font-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      font-weight: 700;
      letter-spacing: 0.2em;
    }
    h3 {
      font-size: 35px;
      font-family: $font-serif;
      color: $primary-500;
      opacity: 0.44;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.075em;
    }
  }
  &_input {
    height: 60px;
    label {
      font-weight: 900;
    }
  }
  &_textarea {
    width: 100%;
    padding: 12px 15px;
    height: 100%;
    font-size: 19px;
    margin: 0;
  }
  input,
  textarea {
    &::placeholder {
      color: #aeaeae;
      font-size: 25px;
      letter-spacing: 0.1em;
      font-family: $font-serif;
      line-height: 1;
    }
  }
  &_input,
  &_textarea {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid $primary-500;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      height: 100%;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 32px;
      padding: 0 15px;
      position: relative;
      letter-spacing: 0.1em;
      background-color: $primary-500;
      color: #fff;
      width: 172px;
    }
    input {
      height: 100%;
      padding: 5px 20px;
      background-color: transparent;
      font-size: 19px;
      width: calc(100% - 172px);
    }
  }
  #submit {
    display: block;
    margin: 76px auto 0;
    padding: 12px 22px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: $third-500;
    border-radius: 0;
    border: 0;
    letter-spacing: 0.1em;
    font-weight: 700;
    transition: $transition-common;
    &:hover {
      background-color: $primary-500;
    }
  }
  .row {
    margin-left: -14px;
    margin-right: -14px;
    > div {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 70px;
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
    .row {
      > div {
        border: 0 !important;
      }
    }
    &_title {
      gap: 8px;
      margin: 0 auto 24px;
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 13px;
      }
    }
    &_input {
      height: 33px;
    }
    &_textarea {
      padding: 20px;
      height: 270px;
      font-size: 15px;
      &::placeholder {
        font-size: 15px;
      }
    }
    input,
    textarea {
      &::placeholder {
        font-size: 15px;
      }
    }
    &_input,
    &_textarea {
      margin-bottom: 10px !important;
      border-width: 1px;
      label {
        font-size: 17px;
        padding-right: 10px;
        padding-left: 10px;
        width: 107px;
      }
      input {
        font-size: 15px;
        width: calc(100% - 107px);
      }
    }
    #submit {
      margin: 22px auto 0;
      font-size: 20px;
      letter-spacing: 0.1em;
      padding: 8px 16px;
    }
  }
}

.footer {
  position: relative;
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
  &_top {
    padding: 45px 15px;
    h2 {
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 0.2em;
      width: fit-content;
      margin: 0 auto 45px;
      font-family: $font-serif;
      padding: 0 8px 16px;
      border-bottom: 1px solid #fff;
    }
  }
  &_inform {
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 30px;
    > ul {
      &:first-child {
        margin-right: 70px;
      }
      > li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        p {
          margin: 0;
          color: #fff;
          font-family: $font-serif;
          &.footer_inform {
            &_title {
              font-size: 22px;
              font-weight: 700;
              margin: 0;
              letter-spacing: 0.25em;
              margin-right: 10px;
              position: relative;
              padding-left: 15px;
              padding-right: 10px;
              white-space: nowrap;
              &::before,
              &::after {
                position: absolute;
                content: "";
                width: 3px;
                height: 22px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
              }
              &::before {
                left: 0;
              }
              &::after {
                right: 0;
              }
            }
            &_content {
              margin: 0;
              font-weight: 700;
              font-size: 20px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
    &_content {
      color: #000;
      &_list {
        display: flex !important;
        flex-wrap: wrap;
        > span {
          position: relative;
          padding: 0 7px;
          display: block;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
            &::after {
              display: none;
            }
          }
          &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 15px;
            background-color: #000;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }
  &_bottom {
    text-align: center;
    padding: 20px;
    background-color: $primary-500;
    p {
      font-size: 18px;
      color: #fff;
      width: fit-content;
      margin: 0 auto;
      font-weight: 500;
      letter-spacing: 0.1em;
      a {
        text-decoration: none;
        transition: 0.3s;
        color: #fff;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    &_top {
      padding-top: 0;
      padding-bottom: 0;
      width: fit-content;
      margin: 0 auto;
      h2 {
        margin-bottom: 35px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        padding: 0 0 8px;
      }
    }
    &_inform {
      margin: 0;
      padding-bottom: 55px;
      > ul {
        &:first-child {
          margin-right: 0;
        }
        > li {
          align-items: flex-start;
          margin-bottom: 8px;
          p {
            color: #fff;
            &.footer_inform {
              &_title {
                font-size: 13px;
                &::before,
                &::after {
                  background-color: #fff;
                  width: 1.4px;
                  height: 7px;
                }
              }
              &_content {
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.1em;
              }
            }
          }
        }
      }
    }
    &_bottom {
      padding: 8px 10px;
      background-color: #fff;
      p {
        font-size: 8px;
        padding: 0;
        color: $primary-500;
        a {
          color: $primary-500;
        }
      }
    }
  }
}

.sideBtn {
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: #003e2c;
  border-radius: 100px;
  z-index: 20;
  padding: 24px 0;
  li {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 95%;
      height: 10px;
      background-image: url(../img/fixed_divide.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    &:first-child {
      a {
        border-radius: 100px 100px 0 0;
      }
    }
    &:last-child {
      a {
        border-radius: 0 0 100px 100px;
      }
      &::after {
        display: none;
      }
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    width: 55px;
    padding: 12px 0;
    position: relative;
    transition: $transition-common;
    cursor: pointer;
    img {
      width: 30px;
      display: block;
      margin: 0 auto;
    }
    span {
      display: block;
      width: 100%;
      font-size: 12px;
      color: #fff;
      text-align: center;
      transition: $transition-common;
      font-family: $font-serif;
      margin-top: 4px;
      &.small {
        font-size: 9px;
        span {
          font-size: 9px;
        }
      }
    }
    &.place {
      span {
        opacity: 1;
        position: static;
        margin-top: 2px;
      }
    }
    &:hover {
      opacity: 0.6;
      span {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1500px) {
    right: 20px;
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
    top: inherit;
    transform: none;
    bottom: 0;
    right: 0;
    border-radius: 0;
    background: $primary-500;
    padding: 0;
    li {
      width: 25%;
      &::after {
        display: none;
      }
    }
    a {
      width: 100%;
      height: 60px;
      border-radius: 0 !important;
      border-right: 0.75px solid rgba(255, 255, 255, 0.15);
      img {
        width: 25px;
        margin-bottom: 1px;
      }
      span {
        position: static;
        opacity: 1;
      }
    }
  }
}

.float-slash-1 {
  animation: float-slash-1 3s ease-in-out infinite alternate;
}

.float-slash-2 {
  animation: float-slash-2 3s ease-in-out infinite alternate;
}

@keyframes float-slash-1 {
  0% {
    transform: translate(-8%, -8%);
  }
  100% {
    transform: translateX(8%, 8%);
  }
}

@keyframes float-slash-2 {
  0% {
    transform: translate(8%, 8%);
  }
  100% {
    transform: translateX(-8%, -8%);
  }
}

// decoration
.kv {
  .decoration {
    &-1 {
      width: 27.72vw;
      top: 2.19vw;
      left: 0;
    }
    &-2 {
      width: 14.8vw;
      top: 24.14vw;
      left: 27.57vw;
      z-index: -1;
    }
    &-3 {
      width: 22.72vw;
      top: 17.7vw;
      left: 65.5vw;
    }
    &-4 {
      width: 15.66vw;
      top: -6.23vw;
      left: 90.77vw;
    }
    &-5 {
      width: 33.29vw;
      top: 36.65vw;
      left: 73.46vw;
      z-index: 5;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-1 {
        width: 58.06vw;
        top: -27.5vw;
        left: -28.06vw;
      }
      &-2 {
        display: none;
      }
      &-3 {
        width: 42.36vw;
        top: 19.72vw;
        left: inherit;
        right: -11.39vw;
      }
      &-4 {
        display: none;
      }
      &-5 {
        width: 69.95vw;
        top: inherit;
        left: inherit;
        bottom: -19.44vw;
        right: -20.28vw;
      }
      &-28 {
        width: 32.63vw;
        bottom: -16.39vw;
        left: -13.89vw;
      }
    }
  }
}

.map {
  .decoration {
    &-6 {
      width: 13.38vw;
      top: -3.92vw;
      left: -1.91vw;
    }
    &-7 {
      width: 17.14vw;
      bottom: -11.31vw;
      right: -3.75vw;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-6 {
        display: none;
      }
      &-7 {
        width: 31.53vw;
        bottom: -14.72vw;
        right: 8.61vw;
      }
    }
  }
}

.layer {
  .decoration {
    &-8 {
      width: 19.53vw;
      bottom: 0;
      left: -6.74vw;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-8 {
        width: 41.56vw;
        bottom: -10.56vw;
        left: -19.72vw;
      }
    }
  }
}

.life {
  .decoration {
    &-9 {
      width: 17.67vw;
      top: 1.31vw;
      right: -12.43vw;
    }
    &-29 {
      width: 29vw;
      top: 93.33vw;
      right: -18.61vw;
    }
  }
}

.ideal {
  .decoration {
    &-10 {
      width: 23.29vw;
      top: -7.73vw;
      left: -10.65vw;
    }
    &-11 {
      width: 9.25vw;
      bottom: 17.1%;
      right: -8.48%;
    }
    &-12 {
      width: 140px;
      top: 20.83%;
      left: 5.44%;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-10 {
        width: 40vw;
        top: -27.22vw;
        left: -21.39vw;
      }
      &-11 {
        width: 12.46vw;
        top: 21.94vw;
        bottom: inherit;
        right: -1.39vw;
      }
      &-12 {
        width: 9.84vw;
        top: -3.61vw;
        left: 6.39vw;
      }
    }
  }
}

.children {
  .decoration {
    &-13 {
      width: 19.08vw;
      top: -4.47vw;
      left: -2.99vw;
    }
    &-14 {
      width: 15.81vw;
      bottom: -2.47vw;
      left: -5.38vw;
    }
    &-15 {
      width: 17.67vw;
      top: -4.97vw;
      right: -7.26vw;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-13 {
        width: 35vw;
        top: 4.44vw;
        left: -3.06vw;
      }
      &-14 {
        width: 23.97vw;
        bottom: 2.78vw;
        left: -7.22vw;
      }
      &-15 {
        width: 35.83vw;
        top: 17.5vw;
        right: -21.67vw;
      }
    }
  }
}

.garden {
  padding-bottom: 82px;
  .decoration {
    z-index: 25;
    &-16 {
      width: 19.08vw;
      top: 10.86vw;
      right: -7.28vw;
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 92px;
    .decoration {
      &-16 {
        width: 41.41vw;
        top: -6.67vw;
        right: -16.39vw;
      }
    }
  }
}

.upgrade {
  .decoration {
    &-17 {
      width: 95px;
      top: -47px;
      right: -47px;
    }
    &-18 {
      width: 12.94vw;
      top: 0;
      left: -5.5vw;
    }
    &-19 {
      width: 20.54vw;
      bottom: -13.29vw;
      left: -6.5vw;
    }
    &-20 {
      width: 12.94vw;
      bottom: 11.63vw;
      right: -7.74vw;
    }
    &-30 {
      width: 31.36vw;
      top: -15.83vw;
      right: -12.22vw;
    }
    &-31 {
      width: 38.65vw;
      top: 19.72vw;
      right: -6.67vw;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-17 {
        width: 48px;
        top: -19px;
        right: -28px;
      }
      &-18 {
        width: 13.43vw;
        top: 103.33vw;
        left: 11.94vw;
      }
      &-19 {
        width: 40.92vw;
        bottom: -17.5vw;
        left: -17.22vw;
      }
      &-20 {
        display: none;
      }
    }
  }
}

.contact {
  .decoration {
    &-21 {
      width: 23.13vw;
      top: 5.81vw;
      left: -4.59vw;
    }
    &-22 {
      width: 13.38vw;
      bottom: -2.4vw;
      left: 11.18vw;
    }
    &-23 {
      width: 11.93vw;
      top: -5.74vw;
      right: -3vw;
    }
    &-24 {
      width: 12.68vw;
      top: 11.46vw;
      right: 3.45vw;
    }
    &-25 {
      width: 38.51vw;
      bottom: -14.27vw;
      right: -1.84vw;
    }
    &-26 {
      width: 178px;
      top: 50%;
      transform: translateY(-50%);
      right: -80px;
    }
    &-32 {
      width: 32.82vw;
      bottom: -19.44vw;
      left: -11.94vw;
      z-index: 12;
    }
  }
  @media screen and (max-width: 991px) {
    .decoration {
      &-25 {
        width: 73.32vw;
        bottom: -25.28vw;
        right: -24.44vw;
      }
      &-26 {
        width: 48px;
        right: -16px;
        z-index: -1;
        transform: none;
        top: -10px;
      }
    }
  }
}

.arrange {
  .decoration {
    &-27 {
      width: 14.44vw;
      top: -0.75vw;
      right: -3.61vw;
    }
    &-34 {
      width: 17.64vw;
      bottom: 9.44vw;
      right: -9.44vw;
    }
  }
  @media screen and (max-width: 991px) {
  .decoration {
    &-27 {
      width: 32.82vw;
      top: 108.06vw;
      right: -24.44vw;
    }
  }
  }
}

.footer {
  .decoration-33 {
    width: 16.37vw;
    top: 35.83vw;
    right: -6.67vw;
  }
}
