@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #231815;
  background-image: url(../img/bg.webp);
  background-position: 0 0;
  background-size: 100%;
}

@media screen and (max-width: 1199px) {
  body {
    padding-bottom: 60px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #231815;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #003e2c;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-content {
  border: 0;
}

.modal-body {
  padding: 0;
}

.title-ch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-ch li {
  padding: 0 40px;
  position: relative;
}

.title-ch li::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #003e2c;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.title-ch li:first-child {
  padding-left: 0;
}

.title-ch li:last-child {
  padding-right: 0;
}

.title-ch li:last-child::after {
  display: none;
}

.title-ch li h2 {
  font-size: 70px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Noto Serif TC", sans-serif;
  color: #003e2c;
}

.title-ch li h2 .highlight {
  color: #003e2c;
}

.title-ch.color-white li h2 {
  color: #fff;
}

.title-ch.color-white li h2 .highlight {
  color: #fff000;
}

.title-ch.color-white li::after {
  background-color: #fff;
}

.title-en {
  color: #003e2c;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
  font-family: "STIX Two Text", serif;
  text-align: center;
}

.title-en.color-white {
  color: rgba(255, 255, 255, 0.8);
}

.title-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.title-wrap_deco {
  position: absolute;
  width: 125px;
  top: -24px;
  left: -62px;
}

@media screen and (max-width: 1100px) {
  .title-ch li {
    padding: 0 12px;
  }
  .title-ch li h2 {
    font-size: 22px;
  }
  .title-ch li::after {
    width: 5px;
    height: 5px;
  }
  .title-en {
    font-size: 18px;
  }
  .title-wrap_deco {
    width: 48px;
    top: -10px;
    left: -16px;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subtitle li {
  padding: 0 14px;
  position: relative;
  font-size: 36px;
  font-family: "Noto Serif TC", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #003e2c;
}

.subtitle li > span {
  display: block;
  padding: 0 10px;
  position: relative;
}

.subtitle li > span::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  right: 2px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #003e2c;
}

.subtitle li > span:first-child {
  padding-left: 0;
}

.subtitle li > span:last-child {
  padding-right: 0;
}

.subtitle li > span:last-child::after {
  display: none;
}

.subtitle li .highlight {
  color: #ee7300;
}

.subtitle li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 17px;
  background-color: #ee7300;
  top: 55%;
  right: 3px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.subtitle li:first-child {
  padding-left: 0;
}

.subtitle li:last-child {
  padding-right: 0;
}

.subtitle li:last-child::after {
  display: none;
}

.subtitle.color-white li {
  color: #fff;
}

.subtitle.color-white li::after {
  background-color: #fff000;
}

.subtitle.color-white li > span::after {
  background-color: #fff000;
}

.subtitle.color-white li .highlight {
  color: #fff000;
}

@media screen and (max-width: 1100px) {
  .subtitle li {
    font-size: 13px;
    padding: 0 7px;
  }
  .subtitle li::after {
    height: 8px;
    right: 0;
  }
  .subtitle li > span {
    padding: 0 5px;
  }
  .subtitle li > span::after {
    width: 2px;
    height: 2px;
    right: 0;
  }
}

.remark {
  position: absolute;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  margin: 0;
}

.remark.left-top {
  left: 22px;
  top: 12px;
}

.remark.left-bottom {
  left: 22px;
  bottom: 12px;
}

.remark.right-top {
  right: 22px;
  top: 12px;
}

.remark.right-bottom {
  right: 22px;
  bottom: 12px;
}

@media screen and (max-width: 1300px) {
  .remark {
    font-size: 9px;
  }
  .remark.left-top {
    left: 5px;
    top: 3px;
  }
  .remark.left-bottom {
    left: 5px;
    bottom: 13px;
  }
  .remark.right-top {
    right: 5px;
    top: 3px;
  }
  .remark.right-bottom {
    right: 5px;
    bottom: 3px;
  }
}

.decoration {
  position: absolute;
  z-index: 10;
}

.swiper-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 80px;
  background-color: #b3b3b3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-arrow:not(.swiper-button-disabled) {
  cursor: pointer;
}

.swiper-arrow:not(.swiper-button-disabled):hover {
  background-color: #ee7300;
}

.swiper-arrow img {
  width: 22px;
}

.swiper-arrow.swiper-next {
  right: 0;
}

.swiper-arrow.swiper-prev {
  left: 0;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #003e2c;
  margin: 0 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #003e2c;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 991px) {
  .swiper-arrow {
    width: 16px;
    height: 29px;
  }
  .swiper-arrow img {
    width: 8px;
  }
  .swiper-pagination-bullets {
    gap: 4px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.header {
  padding: 10px 15px;
  background-color: #003e2c;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header li {
  color: #fff;
  font-weight: 100;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.2em;
}

.header li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header li:first-child::before {
  display: none;
}

.header li:hover {
  opacity: 0.7;
}

.kv {
  padding-top: 15.66vw;
  padding-bottom: 10.96vw;
  position: relative;
  z-index: 0;
  background-image: url(../img/kv-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kv_logo {
  display: block;
  width: 515px;
  margin: 0 auto 2.4vw;
}

.kv_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.kv_h2 li {
  padding: 0 30px;
  position: relative;
}

.kv_h2 li h2 {
  color: #fff;
  margin: 0;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 82px;
}

.kv_h2 li h2 .highlight {
  color: #fff000;
}

.kv_h2 li h2 .bigger {
  font-size: 120px;
}

.kv_h2 li::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff000;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 50%;
}

.kv_h2 li:first-child {
  padding-left: 0;
}

.kv_h2 li:last-child {
  padding-right: 0;
}

.kv_h2 li:last-child::after {
  display: none;
}

.kv_h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.kv_h3_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kv_h3 li {
  padding: 0 13px;
  position: relative;
}

.kv_h3 li h3 {
  color: #fff;
  margin: 0;
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
}

.kv_h3 li h3 .highlight {
  color: #fff000;
}

.kv_h3 li h3 .num {
  font-size: 44px;
  font-family: "Noto Serif TC", sans-serif;
}

.kv_h3 li h3 .smaller {
  font-size: 26px;
}

.kv_h3 li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 29px;
  background-color: #fff;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.kv_h3 li:first-child {
  padding-left: 0;
}

.kv_h3 li:last-child {
  padding-right: 0;
}

.kv_h3 li:last-child::after {
  display: none;
}

@media screen and (max-width: 991px) {
  .kv {
    padding-top: 36.67vw;
    padding-bottom: 35.28vw;
  }
  .kv_logo {
    width: 61.5vw;
    margin-bottom: 18.33vw;
  }
  .kv_h2 {
    display: block;
    padding-bottom: 12px;
    border-bottom: 0;
  }
  .kv_h2 li {
    padding: 0;
    position: relative;
  }
  .kv_h2 li h2 {
    font-size: 54px;
  }
  .kv_h2 li h2 .bigger {
    font-size: 74px;
  }
  .kv_h2 li h2.line-2 {
    letter-spacing: 0.35em;
  }
  .kv_h2 li::after {
    display: none;
  }
  .kv_h2 li:last-child::after {
    display: none;
  }
  .kv_h3 {
    padding-top: 12px;
    border-top: 1px solid #fff;
    display: block;
  }
  .kv_h3 > li {
    padding: 0;
  }
  .kv_h3 li h3 {
    font-size: 32px;
  }
  .kv_h3 li h3 .highlight {
    font-size: 32px;
  }
  .kv_h3 li h3 .highlight span {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  .kv_h3 li h3 .highlight-smaller {
    font-size: 23px;
  }
  .kv_h3 li h3 .smaller {
    font-size: 18px;
  }
  .kv_h3 li::after {
    display: none;
  }
  .kv_h3_inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kv_h3_inner li {
    padding: 0 8px;
  }
  .kv_h3_inner li::after {
    height: 18px;
    width: 1px;
    display: block;
  }
  .kv_h3_inner li:last-child {
    padding-right: 0;
  }
  .kv_h3_inner li:last-child::after {
    display: none;
  }
}

.map {
  position: relative;
}

.map_pic {
  width: 100%;
  position: relative;
}

.map_pic_inner {
  width: 100%;
}

.map_pic_inner > img {
  width: 100%;
}

.map_text {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 6vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 80px;
}

.map_text_wrapper {
  position: relative;
}

.map_text ul {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 24px;
  position: relative;
}

.map_text ul li h2 {
  white-space: nowrap;
}

.map_text ul::before, .map_text ul::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 48px;
  background-color: #fff;
  top: 39px;
}

.map_text ul::before {
  left: -80px;
}

.map_text ul::after {
  right: -80px;
}

.map_text h3 {
  text-align: center;
  position: relative;
}

.map_text h3::before, .map_text h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 168px;
  background-color: #fff;
  top: 23px;
}

.map_text h3::before {
  left: -80px;
}

.map_text h3::after {
  right: -80px;
}

.map_text_deco {
  position: absolute;
  width: 113px;
  z-index: -1;
  left: 114px;
  top: -14px;
}

.map_text::before, .map_text::after {
  position: absolute;
  content: "";
  height: 92px;
  width: 1px;
  background-color: #fff;
  top: 40px;
}

.map_text::before {
  left: 0;
}

.map_text::after {
  right: 0;
}

.map_scroll {
  width: 40vw;
  margin: 30px auto 0;
}

@media screen and (max-width: 1230px) {
  .map_text {
    top: 3.5vw;
  }
}

@media screen and (max-width: 767px) {
  .map_pic {
    overflow-x: auto;
  }
  .map_pic_inner {
    width: 950px;
  }
  .map_text {
    top: 12vw;
    padding: 0 16px;
  }
  .map_text::before, .map_text::after {
    height: 37px;
    top: 13px;
  }
  .map_text::before {
    left: 10px;
  }
  .map_text::after {
    right: 10px;
  }
  .map_text ul {
    margin-bottom: 14px;
  }
  .map_text ul::before, .map_text ul::after {
    width: 10px;
    top: 13px;
  }
  .map_text ul::before {
    left: -5px;
  }
  .map_text ul::after {
    right: -5px;
  }
  .map_text .title-ch li {
    padding: 0 12px;
  }
  .map_text .title-en {
    font-size: 18px;
  }
  .map_text .title-en::before, .map_text .title-en::after {
    width: 49px;
    top: 8px;
  }
  .map_text .title-en::before {
    left: -5px;
  }
  .map_text .title-en::after {
    right: -5px;
  }
  .map_text_deco {
    width: 38px;
    left: 48px;
    top: -6px;
  }
}

.pic-column {
  padding-top: 104px;
  padding-bottom: 104px;
  position: relative;
}

.pic-column_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

.pic-column_title .title-en {
  margin-top: 16px;
}

.pic-column_pic {
  position: relative;
  margin-top: 44px;
}

.pic-column_pic > img:not(.pic-column_pic_text) {
  width: 100%;
}

.pic-column_pic::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  top: 20px;
  left: 20px;
}

.pic-column_pic_text {
  position: absolute;
  width: 40.38%;
  bottom: 2.45%;
  left: 11.78%;
}

.pic-column_pic_slogan {
  position: absolute;
  color: #fff;
  font-family: "STIX Two Text", "noto serif TC", serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 44px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 16.09%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.pic-column_pic_slogan .smaller {
  font-size: 40px;
  letter-spacing: 0.14em;
}

.pic-column_slogan {
  width: 45.85%;
  margin: 25px auto 0;
}

@media screen and (max-width: 1300px) {
  .pic-column_title .title-line {
    width: 110px;
  }
}

@media screen and (max-width: 991px) {
  .pic-column {
    padding-top: 90px;
    padding-bottom: 52px;
  }
  .pic-column_title {
    margin-bottom: 0;
  }
  .pic-column_title .title-en {
    padding-right: 0;
    margin-bottom: 44px;
    font-size: 12px;
  }
  .pic-column_title .title-ch {
    margin-bottom: 8px;
  }
  .pic-column_pic {
    margin-top: 30px;
  }
  .pic-column_pic::before {
    border-width: 1px;
    top: 6px;
    left: 6px;
  }
}

.bg-pic {
  position: relative;
}

.bg-pic_bg {
  width: 100%;
}

.bg-pic_text {
  position: absolute;
  text-align: center;
  top: 4.55vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 80px;
}

.bg-pic_text_wrapper {
  position: relative;
}

.bg-pic_text .title-ch {
  margin-bottom: 15px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px;
}

.bg-pic_text .title-ch h2 {
  white-space: nowrap;
}

.bg-pic_text .title-ch::before, .bg-pic_text .title-ch::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 48px;
  background-color: #fff;
  top: 39px;
}

.bg-pic_text .title-ch::before {
  left: -80px;
}

.bg-pic_text .title-ch::after {
  right: -80px;
}

.bg-pic_text .subtitle {
  position: relative;
}

.bg-pic_text .subtitle li {
  white-space: nowrap;
}

.bg-pic_text .subtitle::before, .bg-pic_text .subtitle::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 168px;
  background-color: #fff;
  top: 23px;
}

.bg-pic_text .subtitle::before {
  left: -80px;
}

.bg-pic_text .subtitle::after {
  right: -80px;
}

.bg-pic_text::before, .bg-pic_text::after {
  position: absolute;
  content: "";
  height: 83px;
  width: 1px;
  background-color: #fff;
  top: 40px;
}

.bg-pic_text::before {
  left: 0;
}

.bg-pic_text::after {
  right: 0;
}

@media screen and (max-width: 991px) {
  .bg-pic_text {
    top: 20vw;
  }
  .bg-pic_text .title-ch {
    margin-bottom: 4px;
  }
  .bg-pic_text .title-ch::before, .bg-pic_text .title-ch::after {
    display: none;
  }
  .bg-pic_text .subtitle::before, .bg-pic_text .subtitle::after {
    width: 21px;
    top: 10px;
  }
  .bg-pic_text .subtitle::before {
    left: 0;
  }
  .bg-pic_text .subtitle::after {
    right: 0;
  }
  .bg-pic_text::before, .bg-pic_text::after {
    display: none;
  }
}

.ideal {
  position: relative;
}

@media screen and (max-width: 991px) {
  .ideal {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .ideal .container {
    padding-left: 0;
    padding-right: 0;
  }
  .ideal .pic-column_pic::before {
    display: none;
  }
  .ideal .pic-column_pic_slogan {
    padding-left: 8px;
    padding-right: 9px;
    font-size: 14px;
    bottom: 10vw;
  }
  .ideal .pic-column_pic_slogan .smaller {
    font-size: 13px;
  }
  .ideal .title-ch li h2 {
    text-align: center;
  }
  .ideal .title-en {
    margin-top: 8px;
    margin-bottom: 44px;
  }
  .ideal .title-wrap_deco {
    left: 26px;
  }
}

.children {
  position: relative;
}

.children .subtitle {
  margin-top: 15px;
}

@media screen and (max-width: 991px) {
  .children {
    padding-top: 170px;
    padding-bottom: 70px;
  }
  .children .title-ch {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .children .subtitle {
    margin-top: 8px;
  }
  .children .pic-column_pic {
    margin-top: 56px;
  }
  .children .title-wrap_deco {
    left: 52px;
  }
}

.slider_inner {
  position: relative;
}

.slider_inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 54px);
  border: 2px solid #fff;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.slider_wrapper {
  position: relative;
}

.slider_swiper {
  padding-bottom: 54px;
}

.slider_swiper_item {
  position: relative;
  width: 100%;
  padding-bottom: 56.28%;
}

.slider_swiper_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.slider .swiper-pagination {
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .slider_inner::before {
    display: none;
  }
  .slider_swiper {
    padding-bottom: 20px;
  }
  .slider_swiper_item {
    padding-bottom: 131.31%;
  }
  .slider .swiper-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.garden {
  position: relative;
}

@media screen and (max-width: 991px) {
  .garden {
    padding-top: 57px;
  }
  .garden .container {
    padding-left: 0;
    padding-right: 0;
  }
  .garden .title-ch {
    text-align: center;
    margin-bottom: 16px;
  }
  .garden .subtitle {
    margin-bottom: 20px;
  }
  .garden .title-wrap_deco {
    left: 28px;
  }
}

.upgrade {
  position: relative;
}

.upgrade_text {
  position: absolute;
  padding: 48px 44px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 6.05vw;
  left: 20.84vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upgrade_text .title-ch {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.upgrade_text .title-ch .highlight {
  color: #ee7300;
}

.upgrade_text .title-ch h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 62px;
}

.upgrade_text .title-ch li {
  padding: 48px 0;
  position: relative;
}

.upgrade_text .title-ch li:first-child {
  padding-top: 0;
}

.upgrade_text .title-ch li::after {
  top: inherit;
  left: 50%;
  bottom: 0;
  right: inherit;
  margin: 0 auto;
  -webkit-transform: none;
          transform: none;
  position: absolute;
  display: block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.upgrade_text .title-ch li:last-child {
  padding-bottom: 0;
}

.upgrade_text .title-ch li:last-child::after {
  display: none;
}

.upgrade_text_subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 8px;
}

.upgrade_text_subtitle > li {
  padding: 16px 0;
  position: relative;
}

.upgrade_text_subtitle > li::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 3px;
  background-color: #ee7300;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.upgrade_text_subtitle > li:first-child {
  padding-top: 0;
}

.upgrade_text_subtitle > li:last-child {
  padding-bottom: 0;
}

.upgrade_text_subtitle > li:last-child::after {
  display: none;
}

.upgrade_text_subtitle > li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upgrade_text_subtitle > li > ul > li {
  padding: 24px 0;
  position: relative;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.upgrade_text_subtitle > li > ul > li::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ee7300;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.upgrade_text_subtitle > li > ul > li:first-child {
  padding-top: 0;
}

.upgrade_text_subtitle > li > ul > li:last-child {
  padding-bottom: 0;
}

.upgrade_text_subtitle > li > ul > li:last-child::after {
  display: none;
}

.upgrade_text_subtitle li {
  font-size: 32px;
  font-weight: 700;
  color: #003e2c;
  font-family: "Noto Serif TC", sans-serif;
  text-orientation: upright;
}

@media screen and (max-width: 991px) {
  .upgrade_text {
    padding: 22px 20px;
    gap: 5px;
    top: 9.17vw;
    left: 14.72vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .upgrade_text .title-ch {
    width: 26px;
  }
  .upgrade_text .title-ch h2 {
    font-size: 26px;
    letter-spacing: 0.37em;
    line-height: 26px;
    width: 100%;
  }
  .upgrade_text .title-ch li {
    padding: 12px 0 0;
    width: 100%;
  }
  .upgrade_text_subtitle {
    width: 23px;
  }
  .upgrade_text_subtitle > li {
    padding: 8px 0;
    width: 100%;
  }
  .upgrade_text_subtitle > li::after {
    width: 13px;
    height: 1px;
  }
  .upgrade_text_subtitle > li > ul {
    display: block;
    width: 100%;
  }
  .upgrade_text_subtitle > li > ul > li {
    padding: 8px 0;
    line-height: 1;
    width: 100%;
  }
  .upgrade_text_subtitle > li > ul > li::after {
    width: 3px;
    height: 3px;
  }
  .upgrade_text_subtitle li {
    font-size: 15px;
  }
}

.arrange {
  padding-top: 96px;
  padding-bottom: 84px;
  position: relative;
}

.arrange .container {
  max-width: 1200px;
}

.arrange .swiper-pagination {
  position: static;
  margin-top: 44px;
}

.arrange .swiper-slide {
  position: relative;
}

.arrange_item {
  height: 100%;
}

.arrange_item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrange_item_main.A3 .arrange-floor {
  width: 25%;
}

.arrange_item_main.A3 .arrange-floor:not(:first-child) {
  padding-top: 70px;
}

.arrange_item_main.A6 .arrange-floor {
  padding-top: 160px;
}

.arrange_item_main.A6 .arrange-floor:first-child {
  width: 25%;
}

.arrange_item_main.A6 .arrange-floor:first-child p {
  margin-top: 116px;
}

.arrange_item_main.A6 .arrange-floor:not(:first-child) {
  width: calc(75% / 4);
}

.arrange_item_main.A7 .arrange-floor {
  padding-top: 160px;
}

.arrange_item_main.A7 .arrange-floor:first-child {
  width: 25%;
}

.arrange_item_main.A7 .arrange-floor:first-child p {
  margin-top: 152px;
}

.arrange_item_main.A7 .arrange-floor:not(:first-child) {
  width: calc(75% / 4);
}

.arrange_item_main.A7 .arrange-floor:not(:first-child) p {
  margin-top: 92px;
}

.arrange_item_main.A9 .arrange-floor {
  padding-top: 160px;
  width: 20%;
}

.arrange_item_main.A9 .arrange-floor p {
  margin-top: 105px;
}

.arrange_item .compass {
  width: 70px;
  display: block;
  margin: 0 0 30px auto;
}

.arrange-floor {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.arrange-floor img {
  width: 100%;
}

.arrange-floor p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
  padding: 8px 20px;
  background-color: #003e2c;
  color: #fff;
  border-radius: 100px;
  font-size: 33px;
  line-height: 1;
}

.arrange_content {
  margin-top: 75px;
  position: relative;
}

.arrange_content .swiper-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrange_content .swiper-pagination {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrange_content .arrange_compass {
  position: absolute;
  width: 58px;
  top: 0;
  left: calc(100% + 80px);
}

.arrange-remark {
  position: absolute;
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
  bottom: 0;
  left: 0;
}

.arrange_pic {
  width: 100%;
  margin-bottom: 50px;
}

.arrange_info {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.arrange_text_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrange_text_title h4 {
  padding-left: 20px;
  font-size: 35px;
  margin: 0;
  font-weight: normal;
  color: #003e2c;
}

.arrange_text_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background-color: #ee7300;
  border-radius: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.arrange_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding-right: 20px;
  position: relative;
}

.arrange_num .num {
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  color: #ee7300;
  font-family: "Noto Serif TC", sans-serif;
  font-weight: 900;
}

.arrange_num .unit {
  margin: 0;
  font-size: 43px;
  font-weight: 200;
  color: #ee7300;
}

.arrange_num::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 24px;
  background-color: #003e2c;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrange_floor {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  padding: 10px 30px;
  background-color: #003e2c;
  color: #fff;
  border-radius: 22px;
  line-height: 1;
}

.arrange_remark {
  font-size: 24px;
  margin: 0;
  color: #fff;
  padding-left: 22px;
  padding-right: 40px;
}

@media screen and (max-width: 991px) {
  .arrange {
    padding-top: 50px;
    padding-bottom: 28px;
  }
  .arrange_remark {
    font-size: 12px;
    padding-left: 0;
    padding-right: 12px;
  }
  .arrange_content {
    margin-top: 0;
  }
  .arrange_content .swiper-pagination {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 12px auto;
  }
  .arrange_content .swiper-arrow {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .arrange_swiper .swiper-slide {
    padding: 0 40px;
    height: auto;
  }
  .arrange-floor {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 8px;
    padding-top: 16px;
  }
  .arrange-floor p {
    font-size: 11px;
    padding: 2px 8px;
    margin-top: 0 !important;
  }
  .arrange_item_main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 0;
  }
  .arrange_item_main.A3 .arrange-floor {
    width: 50%;
    padding-top: 0 !important;
  }
  .arrange_item_main.A3 .arrange-floor:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .arrange_item_main.A3 .arrange-floor:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 36px !important;
  }
  .arrange_item_main.A3 .arrange-floor:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .arrange_item_main.A3 .arrange-floor:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .arrange_item_main.A6 .arrange-floor:first-child {
    width: 50%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 32px;
  }
  .arrange_item_main.A6 .arrange-floor:not(:first-child) {
    width: 33.33%;
  }
  .arrange_item_main.A6 .arrange-floor:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 32px;
  }
  .arrange_item_main.A6 .arrange-floor:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
  }
  .arrange_item_main.A6 .arrange-floor:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
  }
  .arrange_item_main.A6 .arrange-floor:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 0;
  }
  .arrange_item_main.A7 .arrange-floor {
    padding-top: 160px;
  }
  .arrange_item_main.A7 .arrange-floor:first-child {
    width: 50%;
    padding-top: 36px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .arrange_item_main.A7 .arrange-floor:first-child p {
    margin-top: 16px !important;
  }
  .arrange_item_main.A7 .arrange-floor:not(:first-child) {
    width: 33.33%;
  }
  .arrange_item_main.A7 .arrange-floor:not(:first-child) p {
    margin-top: 16px !important;
  }
  .arrange_item_main.A7 .arrange-floor:nth-child(2) {
    padding-top: 36px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .arrange_item_main.A7 .arrange-floor:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
  }
  .arrange_item_main.A7 .arrange-floor:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
  }
  .arrange_item_main.A7 .arrange-floor:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 0;
  }
  .arrange_item_main.A9 .arrange-floor {
    width: 33.33%;
  }
  .arrange_item_main.A9 .arrange-floor p {
    margin-top: 12px !important;
  }
  .arrange_item_main.A9 .arrange-floor:first-child {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 48px;
  }
  .arrange_item_main.A9 .arrange-floor:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 48px;
  }
  .arrange_item_main.A9 .arrange-floor:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
  }
  .arrange_item_main.A9 .arrange-floor:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
  }
  .arrange_item_main.A9 .arrange-floor:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 0;
  }
  .arrange_item .compass {
    width: 28px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .arrange-remark {
    position: static;
    font-size: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .arrange_func {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
  }
  .arrange_arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
  }
  .arrange_info {
    padding-bottom: 28px;
    margin: 0 auto;
  }
  .arrange_text_title {
    padding-bottom: 0;
  }
  .arrange_text_title h4 {
    font-size: 15px;
  }
  .arrange_text_content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 4px;
  }
  .arrange_num {
    gap: 4px;
    padding-right: 8px;
  }
  .arrange_num .num {
    font-size: 29px;
  }
  .arrange_num .unit {
    font-size: 18px;
  }
  .arrange_num::after {
    width: 2px;
    height: 11px;
  }
  .arrange_floor {
    font-size: 15px;
    padding: 4px 16px;
    font-weight: normal;
  }
}

.arrange-popup .modal-dialog {
  max-width: 400px;
}

.arrange-popup .modal-content {
  background-color: transparent;
  border: 0;
}

.arrange-popup_main {
  width: 100%;
  padding: 40px 20px;
}

.arrange-popup_main > img {
  width: 100%;
  display: block;
  margin: 0 auto 20px;
}

.arrange-popup_main > p {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.contact {
  padding-bottom: 240px;
  padding-top: 240px;
  position: relative;
}

.contact .container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.contact_title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 70px;
}

.contact_title h2 {
  font-size: 57px;
  font-weight: 500;
  color: #003e2c;
  font-family: "Noto Serif TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.contact_title h3 {
  font-size: 35px;
  font-family: "Noto Serif TC", sans-serif;
  color: #003e2c;
  opacity: 0.44;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.075em;
}

.contact_input {
  height: 60px;
}

.contact_input label {
  font-weight: 900;
}

.contact_textarea {
  width: 100%;
  padding: 12px 15px;
  height: 100%;
  font-size: 19px;
  margin: 0;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #aeaeae;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-family: "Noto Serif TC", sans-serif;
  line-height: 1;
}

.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #aeaeae;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-family: "Noto Serif TC", sans-serif;
  line-height: 1;
}

.contact input::-ms-input-placeholder,
.contact textarea::-ms-input-placeholder {
  color: #aeaeae;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-family: "Noto Serif TC", sans-serif;
  line-height: 1;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #aeaeae;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-family: "Noto Serif TC", sans-serif;
  line-height: 1;
}

.contact_input, .contact_textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid #003e2c;
}

.contact_input:last-child, .contact_textarea:last-child {
  margin-bottom: 0;
}

.contact_input label, .contact_textarea label {
  height: 100%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
  padding: 0 15px;
  position: relative;
  letter-spacing: 0.1em;
  background-color: #003e2c;
  color: #fff;
  width: 172px;
}

.contact_input input, .contact_textarea input {
  height: 100%;
  padding: 5px 20px;
  background-color: transparent;
  font-size: 19px;
  width: calc(100% - 172px);
}

.contact #submit {
  display: block;
  margin: 76px auto 0;
  padding: 12px 22px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #ee7300;
  border-radius: 0;
  border: 0;
  letter-spacing: 0.1em;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact #submit:hover {
  background-color: #003e2c;
}

.contact .row {
  margin-left: -14px;
  margin-right: -14px;
}

.contact .row > div {
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (max-width: 991px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .contact .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contact .row > div {
    border: 0 !important;
  }
  .contact_title {
    gap: 8px;
    margin: 0 auto 24px;
  }
  .contact_title h2 {
    font-size: 22px;
  }
  .contact_title h3 {
    font-size: 13px;
  }
  .contact_input {
    height: 33px;
  }
  .contact_textarea {
    padding: 20px;
    height: 270px;
    font-size: 15px;
  }
  .contact_textarea::-webkit-input-placeholder {
    font-size: 15px;
  }
  .contact_textarea:-ms-input-placeholder {
    font-size: 15px;
  }
  .contact_textarea::-ms-input-placeholder {
    font-size: 15px;
  }
  .contact_textarea::placeholder {
    font-size: 15px;
  }
  .contact input::-webkit-input-placeholder,
  .contact textarea::-webkit-input-placeholder {
    font-size: 15px;
  }
  .contact input:-ms-input-placeholder,
  .contact textarea:-ms-input-placeholder {
    font-size: 15px;
  }
  .contact input::-ms-input-placeholder,
  .contact textarea::-ms-input-placeholder {
    font-size: 15px;
  }
  .contact input::placeholder,
  .contact textarea::placeholder {
    font-size: 15px;
  }
  .contact_input, .contact_textarea {
    margin-bottom: 10px !important;
    border-width: 1px;
  }
  .contact_input label, .contact_textarea label {
    font-size: 17px;
    padding-right: 10px;
    padding-left: 10px;
    width: 107px;
  }
  .contact_input input, .contact_textarea input {
    font-size: 15px;
    width: calc(100% - 107px);
  }
  .contact #submit {
    margin: 22px auto 0;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding: 8px 16px;
  }
}

.footer {
  position: relative;
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
}

.footer_top {
  padding: 45px 15px;
}

.footer_top h2 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 45px;
  font-family: "Noto Serif TC", sans-serif;
  padding: 0 8px 16px;
  border-bottom: 1px solid #fff;
}

.footer_inform {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 30px;
}

.footer_inform > ul:first-child {
  margin-right: 70px;
}

.footer_inform > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer_inform > ul > li p {
  margin: 0;
  color: #fff;
  font-family: "Noto Serif TC", sans-serif;
}

.footer_inform > ul > li p.footer_inform_title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.25em;
  margin-right: 10px;
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  white-space: nowrap;
}

.footer_inform > ul > li p.footer_inform_title::before, .footer_inform > ul > li p.footer_inform_title::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 22px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer_inform > ul > li p.footer_inform_title::before {
  left: 0;
}

.footer_inform > ul > li p.footer_inform_title::after {
  right: 0;
}

.footer_inform > ul > li p.footer_inform_content {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.footer_inform_content {
  color: #000;
}

.footer_inform_content_list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_inform_content_list > span {
  position: relative;
  padding: 0 7px;
  display: block;
}

.footer_inform_content_list > span:first-child {
  padding-left: 0;
}

.footer_inform_content_list > span:last-child {
  padding-right: 0;
}

.footer_inform_content_list > span:last-child::after {
  display: none;
}

.footer_inform_content_list > span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #000;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.footer_bottom {
  text-align: center;
  padding: 20px;
  background-color: #003e2c;
}

.footer_bottom p {
  font-size: 18px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.footer_bottom p a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.footer_bottom p a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 40px;
  }
  .footer_top {
    padding-top: 0;
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .footer_top h2 {
    margin-bottom: 35px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 0 0 8px;
  }
  .footer_inform {
    margin: 0;
    padding-bottom: 55px;
  }
  .footer_inform > ul:first-child {
    margin-right: 0;
  }
  .footer_inform > ul > li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 8px;
  }
  .footer_inform > ul > li p {
    color: #fff;
  }
  .footer_inform > ul > li p.footer_inform_title {
    font-size: 13px;
  }
  .footer_inform > ul > li p.footer_inform_title::before, .footer_inform > ul > li p.footer_inform_title::after {
    background-color: #fff;
    width: 1.4px;
    height: 7px;
  }
  .footer_inform > ul > li p.footer_inform_content {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .footer_bottom {
    padding: 8px 10px;
    background-color: #fff;
  }
  .footer_bottom p {
    font-size: 8px;
    padding: 0;
    color: #003e2c;
  }
  .footer_bottom p a {
    color: #003e2c;
  }
}

.sideBtn {
  position: fixed;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #003e2c;
  border-radius: 100px;
  z-index: 20;
  padding: 24px 0;
}

.sideBtn li {
  position: relative;
}

.sideBtn li::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 10px;
  background-image: url(../img/fixed_divide.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.sideBtn li:first-child a {
  border-radius: 100px 100px 0 0;
}

.sideBtn li:last-child a {
  border-radius: 0 0 100px 100px;
}

.sideBtn li:last-child::after {
  display: none;
}

.sideBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  padding: 12px 0;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sideBtn a img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.sideBtn a span {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Noto Serif TC", sans-serif;
  margin-top: 4px;
}

.sideBtn a span.small {
  font-size: 9px;
}

.sideBtn a span.small span {
  font-size: 9px;
}

.sideBtn a.place span {
  opacity: 1;
  position: static;
  margin-top: 2px;
}

.sideBtn a:hover {
  opacity: 0.6;
}

.sideBtn a:hover span {
  opacity: 1;
}

@media screen and (max-width: 1500px) {
  .sideBtn {
    right: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .sideBtn {
    width: 100%;
    top: inherit;
    -webkit-transform: none;
            transform: none;
    bottom: 0;
    right: 0;
    border-radius: 0;
    background: #003e2c;
    padding: 0;
  }
  .sideBtn li {
    width: 25%;
  }
  .sideBtn li::after {
    display: none;
  }
  .sideBtn a {
    width: 100%;
    height: 60px;
    border-radius: 0 !important;
    border-right: 0.75px solid rgba(255, 255, 255, 0.15);
  }
  .sideBtn a img {
    width: 25px;
    margin-bottom: 1px;
  }
  .sideBtn a span {
    position: static;
    opacity: 1;
  }
}

.float-slash-1 {
  -webkit-animation: float-slash-1 3s ease-in-out infinite alternate;
          animation: float-slash-1 3s ease-in-out infinite alternate;
}

.float-slash-2 {
  -webkit-animation: float-slash-2 3s ease-in-out infinite alternate;
          animation: float-slash-2 3s ease-in-out infinite alternate;
}

@-webkit-keyframes float-slash-1 {
  0% {
    -webkit-transform: translate(-8%, -8%);
            transform: translate(-8%, -8%);
  }
  100% {
    -webkit-transform: translateX(8%, 8%);
            transform: translateX(8%, 8%);
  }
}

@keyframes float-slash-1 {
  0% {
    -webkit-transform: translate(-8%, -8%);
            transform: translate(-8%, -8%);
  }
  100% {
    -webkit-transform: translateX(8%, 8%);
            transform: translateX(8%, 8%);
  }
}

@-webkit-keyframes float-slash-2 {
  0% {
    -webkit-transform: translate(8%, 8%);
            transform: translate(8%, 8%);
  }
  100% {
    -webkit-transform: translateX(-8%, -8%);
            transform: translateX(-8%, -8%);
  }
}

@keyframes float-slash-2 {
  0% {
    -webkit-transform: translate(8%, 8%);
            transform: translate(8%, 8%);
  }
  100% {
    -webkit-transform: translateX(-8%, -8%);
            transform: translateX(-8%, -8%);
  }
}

.kv .decoration-1 {
  width: 27.72vw;
  top: 2.19vw;
  left: 0;
}

.kv .decoration-2 {
  width: 14.8vw;
  top: 24.14vw;
  left: 27.57vw;
  z-index: -1;
}

.kv .decoration-3 {
  width: 22.72vw;
  top: 17.7vw;
  left: 65.5vw;
}

.kv .decoration-4 {
  width: 15.66vw;
  top: -6.23vw;
  left: 90.77vw;
}

.kv .decoration-5 {
  width: 33.29vw;
  top: 36.65vw;
  left: 73.46vw;
  z-index: 5;
}

@media screen and (max-width: 991px) {
  .kv .decoration-1 {
    width: 58.06vw;
    top: -27.5vw;
    left: -28.06vw;
  }
  .kv .decoration-2 {
    display: none;
  }
  .kv .decoration-3 {
    width: 42.36vw;
    top: 19.72vw;
    left: inherit;
    right: -11.39vw;
  }
  .kv .decoration-4 {
    display: none;
  }
  .kv .decoration-5 {
    width: 69.95vw;
    top: inherit;
    left: inherit;
    bottom: 0;
    right: -20.28vw;
  }
  .kv .decoration-28 {
    width: 32.63vw;
    bottom: 7vw;
    left: -13.89vw;
  }
}

.map .decoration-6 {
  width: 13.38vw;
  top: -3.92vw;
  left: -1.91vw;
}

.map .decoration-7 {
  width: 17.14vw;
  bottom: -11.31vw;
  right: -3.75vw;
}

@media screen and (max-width: 991px) {
  .map .decoration-6 {
    display: none;
  }
  .map .decoration-7 {
    width: 31.53vw;
    bottom: -14.72vw;
    right: 8.61vw;
  }
}

.layer .decoration-8 {
  width: 19.53vw;
  bottom: 0;
  left: -6.74vw;
}

@media screen and (max-width: 991px) {
  .layer .decoration-8 {
    width: 41.56vw;
    bottom: -10.56vw;
    left: -19.72vw;
  }
}

.life .decoration-9 {
  width: 17.67vw;
  top: 1.31vw;
  right: -12.43vw;
}

.life .decoration-29 {
  width: 29vw;
  top: 93.33vw;
  right: -18.61vw;
}

.ideal .decoration-10 {
  width: 23.29vw;
  top: -7.73vw;
  left: -10.65vw;
}

.ideal .decoration-11 {
  width: 9.25vw;
  bottom: 17.1%;
  right: -8.48%;
}

.ideal .decoration-12 {
  width: 140px;
  top: 20.83%;
  left: 5.44%;
}

@media screen and (max-width: 991px) {
  .ideal .decoration-10 {
    width: 40vw;
    top: -27.22vw;
    left: -21.39vw;
  }
  .ideal .decoration-11 {
    width: 12.46vw;
    top: 21.94vw;
    bottom: inherit;
    right: -1.39vw;
  }
  .ideal .decoration-12 {
    width: 9.84vw;
    top: -3.61vw;
    left: 6.39vw;
  }
}

.children .decoration-13 {
  width: 19.08vw;
  top: -4.47vw;
  left: -2.99vw;
}

.children .decoration-14 {
  width: 15.81vw;
  bottom: -2.47vw;
  left: -5.38vw;
}

.children .decoration-15 {
  width: 17.67vw;
  top: -4.97vw;
  right: -7.26vw;
}

@media screen and (max-width: 991px) {
  .children .decoration-13 {
    width: 35vw;
    top: 4.44vw;
    left: -3.06vw;
  }
  .children .decoration-14 {
    width: 23.97vw;
    bottom: 2.78vw;
    left: -7.22vw;
  }
  .children .decoration-15 {
    width: 35.83vw;
    top: 17.5vw;
    right: -21.67vw;
  }
}

.garden {
  padding-bottom: 82px;
}

.garden .decoration {
  z-index: 25;
}

.garden .decoration-16 {
  width: 19.08vw;
  top: 10.86vw;
  right: -7.28vw;
}

@media screen and (max-width: 991px) {
  .garden {
    padding-bottom: 92px;
  }
  .garden .decoration-16 {
    width: 41.41vw;
    top: -6.67vw;
    right: -16.39vw;
  }
}

.upgrade .decoration-17 {
  width: 95px;
  top: -47px;
  right: -47px;
}

.upgrade .decoration-18 {
  width: 12.94vw;
  top: 0;
  left: -5.5vw;
}

.upgrade .decoration-19 {
  width: 20.54vw;
  bottom: -13.29vw;
  left: -6.5vw;
}

.upgrade .decoration-20 {
  width: 12.94vw;
  bottom: 11.63vw;
  right: -7.74vw;
}

.upgrade .decoration-30 {
  width: 31.36vw;
  top: -15.83vw;
  right: -12.22vw;
}

.upgrade .decoration-31 {
  width: 38.65vw;
  top: 19.72vw;
  right: -6.67vw;
}

@media screen and (max-width: 991px) {
  .upgrade .decoration-17 {
    width: 48px;
    top: -19px;
    right: -28px;
  }
  .upgrade .decoration-18 {
    width: 13.43vw;
    top: 103.33vw;
    left: 11.94vw;
  }
  .upgrade .decoration-19 {
    width: 40.92vw;
    bottom: -17.5vw;
    left: -17.22vw;
  }
  .upgrade .decoration-20 {
    display: none;
  }
}

.contact .decoration-21 {
  width: 23.13vw;
  top: 5.81vw;
  left: -4.59vw;
}

.contact .decoration-22 {
  width: 13.38vw;
  bottom: -2.4vw;
  left: 11.18vw;
}

.contact .decoration-23 {
  width: 11.93vw;
  top: -5.74vw;
  right: -3vw;
}

.contact .decoration-24 {
  width: 12.68vw;
  top: 11.46vw;
  right: 3.45vw;
}

.contact .decoration-25 {
  width: 38.51vw;
  bottom: -14.27vw;
  right: -1.84vw;
}

.contact .decoration-26 {
  width: 178px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -80px;
}

.contact .decoration-32 {
  width: 32.82vw;
  bottom: -19.44vw;
  left: -11.94vw;
  z-index: 12;
}

@media screen and (max-width: 991px) {
  .contact .decoration-25 {
    width: 73.32vw;
    bottom: -25.28vw;
    right: -24.44vw;
  }
  .contact .decoration-26 {
    width: 48px;
    right: -16px;
    z-index: -1;
    -webkit-transform: none;
            transform: none;
    top: -10px;
  }
}

.arrange .decoration-27 {
  width: 14.44vw;
  top: -0.75vw;
  right: -3.61vw;
}

.arrange .decoration-34 {
  width: 17.64vw;
  bottom: 9.44vw;
  right: -9.44vw;
}

@media screen and (max-width: 991px) {
  .arrange .decoration-27 {
    width: 32.82vw;
    top: 108.06vw;
    right: -24.44vw;
  }
}

.footer .decoration-33 {
  width: 16.37vw;
  top: 35.83vw;
  right: -6.67vw;
}
/*# sourceMappingURL=style.css.map */